.freight {
  overflow: auto;
  width: 100%;
  background-color: #ffffff;
  display: block;
  z-index: 1;
}

.everythingContainer {
  position: absolute;
  margin-top: 60%;
  width: 100%;
  z-index: 1;
}

.loco {
  position: absolute;
  width: 100%;
  height: 250px;
  z-index: 2;
  background-color: #000000e5;
  margin-top: 22%;
}

.header {
  text-align: center;
  color: #ffffff;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.bacgroundcontainer {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
}

#defaultbackground {
  height: 150vh;
  min-width: 100%;
  position: fixed;
  z-index: 0;
}

.intermodal {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.clearfix {
  width: 100%;
  overflow: auto;
}

.button1 {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    padding: 20px;
    background-color: #5f2dbb;
    color: #eee6ff;
    /* background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, #5f2dbb 62%, rgba(34,230,255,1) 100%); */
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.button1:hover {
  background-color: #a37bff;
  /* background: rgb(2,0,36);
  background: linear-gradient(0deg, #0b00df 0%, #5f2dbb 62%, rgba(34,230,255,1) 100%); */
  color: #ffffff;
}

.projContainer {
  position: relative;
  width: 40%;
  margin: 0 5% 50px 5%;
  float: left;
  /* max-width: 300px; */
}

.project {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: #000000;
  background: #000000c0; /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px 0 20px 0;
  text-align: center;
}

.projContainer:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 999px) {
  .intermodal {
    width: 100%;
  }
  .loco {
    height: 100%;
    margin: 0;
    z-index: 1;
    padding-top: 16%;
    background-color: #000000c7;
  }
}